body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h4{
  padding: 35px 0 10px;
}

.description{
  font-size: 14px;
  padding-top: 10px;
}

footer{
  padding: 15px 0;
}

.hidden{
  display: none;
}