.form-result-wrapper{
  display: flex;
  flex-wrap: wrap;
  form{
    width: 220px;
    margin-right: 80px;
    .form-group{
      &.period{
        display: flex;
        flex-wrap: wrap;
        .dropdown{
          width: 45%;
          padding-right: 10px;
        }
        .period{
          width:55%;
        }
      }
      &.submit{
        padding-top: 15px;
      }
    }
  }
  .result-container{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    width: 500px;
    table:not(.table-condensed){
      width: 100%;
      font-size: 14px;
      tr{
        &.total-row{
          font-weight: bold;
        }
        td,th{
          text-align: left;
          @media only screen and (max-width: 414px) {
            padding: .5rem;
          }
          &.days{
            text-align: center;
          }
          &.payout, &.amount{
            text-align: right;
          }
        }
      }
    }
    .summary{
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 15px;
      font-size: 14px;

      .row{
        .value{
          font-weight: normal;
        }
        font-weight: bold;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}