.form-result-wrapper{
  display: flex;
  form{
    width: 20%;
    .form-group{
      &.period{
        display: flex;
        flex-wrap: wrap;
        .dropdown{
          width: 45%;
          padding-right: 10px;
        }
        .period{
          width:55%;
        }
      }
      &.submit{
        padding-top: 15px;
      }
    }
  }
  .result-container{
    width: 40%;
  }
}